body {
  background-color: #443;
  color: wheat;
}

.banner-container {
  padding-top: 10em;
  padding-bottom: 2em;
  background-image: url("./banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 576px) {
  .banner-container {
    padding-top: 15em;
    padding-bottom: 3em;
  }
}

.card {
  border: none;
  background-image: url("./banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: wheat;
  width: 12rem;
  /* padding-bottom: 12em; */
}
.card-btn {
  /* display: none; */
  margin-top: 11em;
  margin-bottom: 1em;
}
